name: second testing workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
            sudo apt-get update
            sudo apt-get install python3 --fix-missing
            sudo apt-get install python3-pip --fix-missing
      - name: testing
        run: python3 testCalc.py