name: second testing workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install pytest 
      - name: testing
        run: |
            pytest -s calc.py
            4 + 5