name: second testing workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install deps
        run: sudo apt install python3
      - name: testing
        run: python3 calc.py